.nav-link-custom {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  }
  
  .nav-link-custom.active {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
    color: inherit !important;
    text-decoration: none !important;
  }
  
  .nav-link-custom:hover {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  }